.pagination-new{
	display: block;
	text-align: center;
	padding-bottom: 100px;
}
.pagination-new a,.pagination-new span{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	width: 42px;
	height: 42px;
	line-height: 42px;
	border: 1px solid transparent;
	vertical-align: middle;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.pagination-new a:hover{
	color:#fff;
	background-color: #c6cace;
	border-color: #c6cace;
	text-decoration: none;
}
.pagination-new span{
	color:#fff;
	background-color: #e4001f;
	border-color: #e4001f;
}
.pagination-new .arrow{
	border-color: #1f4465;
	text-align: center;
	font-size: 20px;
	color: #335573;
}
.pagination-new .arrow:hover{
	color:#fff;
	background-color: #e4001f;
	border-color: #e4001f;
}