@font-face {
  font-family: "Century Gothic";
  src: url(../../../fonts/Fonts/Century Gothic.ttf);
  font-family: "CenturyGothickBoldCyr";
  src: url(../../../fonts/Fonts/CenturyGothickBoldCyr.ttf);
  font-family: "PTSansC55";
  src: url(../../../fonts/Fonts/PTSans/PTC55F.ttf);
  font-family: "PTSansC75";
  src: url(../../../fonts/Fonts/PTSans/PTC75F.ttf);
  font-family: "PTSansN57";
  src: url(../../../fonts/Fonts/PTSans/PTN57F.ttf);
  font-family: "PTSansN77";
  src: url(../../../fonts/Fonts/PTSans/PTN77F.ttf);
  font-family: "PTSansS55";
  src: url(../../../fonts/Fonts/PTSans/PTS55F.ttf);
  font-family: "PTSansS56";
  src: url(../../../fonts/Fonts/PTSans/PTS56F.ttf);
  font-family: "PTSansS75";
  src: url(../../../fonts/Fonts/PTSans/PTS75F.ttf);
  font-family: "PTSansS76";
  src: url(../../../fonts/Fonts/PTSans/PTS76F.ttf);
}
.logotype .logo {
  margin-top: 15px;
  width: 100%;
  z-index: 5;
}
.logotype .mobyle {
  margin-top: 20px;
}
.logotype .mobyle_phone {
  font-size: 16px;
  color: #666666;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .logotype .mobyle_phone {
    font-size: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .logotype .mobyle_phone {
    font-size: 16px;
    margin-left: 5px;
  }
}
.logotype .mobyle_phone .fa-fax {
  padding-right: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .logotype .mobyle_phone .fa-fax {
    padding-right: 5px;
  }
}
.logotype .mobyle_phone .fa-mobile {
  padding-right: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .logotype .mobyle_phone .fa-mobile {
    padding-right: 5px;
  }
}
.logotype .mobyle_phone .number {
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  .logotype .home_phone {
    margin-left: -7px;
  }
}
@media only screen and (max-width: 767px) {
  .logotype .home_phone .mobyle_phone {
    padding-right: 17px;
  }
}
.logotype .fa-bars {
  font-size: 25px;
  background-color: #244360;
  color: white;
  padding: 10px 12px;
  font-weight: 100;
  margin-top: 20px;
  float: right;
}
.logotype .search_text {
  margin-top: 20px;
  font-size: 14px;
  font-family: "PTSansC75";
}
.logotype form {
  margin-right: 50px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
  .logotype form {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .logotype form {
    margin-right: 0;
  }
}
.logotype input {
  background-image: url(../img/img-main/loop.png);
  background-size: 20px;
  background-repeat: no-repeat;
  height: 30px;
  border: 1px solid #8e999d;
  background-position: right;
  padding-right: 20px;
  margin-bottom: 25px;
  width: 100%;
  margin-right: 20px;
}
@media only screen and (max-width: 767px) {
  .logotype input {
    width: 45px;
    height: 45px;
    margin-right: 0;
    float: right;
    background-position: center;
    margin-top: 20px;
    border: 1px solid #244360;
  }
}
.logotype input:focus {
  outline: none;
}
.logotype input:active {
  outline: none;
}
@media only screen and (max-width: 767px) {
  .navbar-toggle {
    width: 45px;
    height: 45px;
    margin-right: 0;
    background-color: #244360;
  }
  .navbar-toggle:hover {
    background-color: #244360;
  }
}
@media only screen and (max-width: 767px) {
  .navbar {
    background-color: white;
    min-height: 60px;
  }
}
.navbar {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  background-color: #244360;
  padding: 13px 0;
}
.nav li {
  display: inline;
  color: white;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
  font-family: "PTSansC75";
  font-size: 18px;
  line-height: 15px;
  font-weight: 400;
  padding: 0px 25px;
  border-right: 3px solid white;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-inverse .navbar-nav > li > a {
    padding: 3px 6px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-inverse .navbar-nav > li > a {
    padding: 0 10px;
  }
}
.navbar-inverse .navbar-nav li a:hover {
  color: #e4001f;
  transition: 0.7s all linear;
}
.main .slider-pic {
  margin-bottom: 20px;
}
.main .fancy_link {
  float: right;
  margin-top: 30px;
}
@media only screen and (max-width: 767px) {
  .main .fancy_link {
    float: none;
    margin-left: 30px;
  }
}
.main .fancy_link1 {
  float: right;
  margin-top: -30px;
}
@media only screen and (max-width: 767px) {
  .main .fancy_link1 {
    float: left;
    margin-left: 200px;
  }
}
.main a {
  margin-bottom: 30px;
}
.main .list_two {
  padding-left: 30px;
  margin-bottom: 20px;
}
.main ul.lists {
  list-style-image: url(../img/img-main/marker.png);
  margin-left: -20px;
}
.main p {
  font-size: 14px;
  font-family: "PTSansC75";
}
.main h4 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
}
.main h2 {
  color: #1f4465;
  font-size: 22px;
  font-family: "Century Gothic";
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #c6cace;
  position: relative;
  padding-top: 15px;
}
.main h2::after {
  content: "";
  width: 40px;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -2px;
  background-color: #e94259;
}
.main h3 {
  font-size: 14px;
  color: #1f4465;
}
.main h4 {
  color: #1f4465;
  font-size: 22px;
  font-family: "Century Gothic";
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #c6cace;
  position: relative;
  padding-top: 15px;
}
.main h4::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -2px;
  background-color: red;
}
.main p {
  font-size: 14px;
  font-family: "PTSansC75";
  color: #212121;
}
.main .docs {
  margin-bottom: 20px;
  margin-top: -10px;
}
.main .docs .low_doc {
  color: #4477aa;
  text-decoration: underline;
  margin-left: 10px;
  font-size: 14px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main .docs .low_doc {
    font-size: 12px;
  }
}
.main .docs .low_doc .tail {
  margin-left: 35px;
}
.main .photos {
  margin-top: 40px;
}
.main .photos .second_box {
  margin-bottom: 40px;
}
.main .nav-tabs li.active {
  border: 1px solid white;
  border-bottom: 2px solid red;
}
.main .nav-tabs a:hover {
  border: 1px solid white;
  background-color: white;
}
.main .nav-tabs a:focus {
  border: 1px solid white;
  background-color: white;
}
.main .nav-tabs a:active {
  border: 1px solid white;
  background-color: white;
}
.main .nav-tabs li.active > a {
  border: 1px solid white;
  color: #1f4465;
  font-weight: 600;
}
.main .nav-tabs a {
  color: #4477aa;
  font-weight: 600;
  font-size: 16px;
}
@media only screen and (max-width: 767px) {
  .main .nav-tabs a {
    white-space: normal;
  }
}
.main .lows {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  margin-top: 30px;
}
@media only screen and (max-width: 767px) {
  .main .lows {
    -ms-flex-direction: column;
        flex-direction: column;
    margin-left: 20px;
  }
}
.main .lows .low_one {
  margin-right: 40px;
  line-height: 16px;
}
.main .lows .low_one img {
  margin-top: 20px;
}
.main .lows .low_one .numbers {
  padding-left: 30px;
}
.main .lows .low_two {
  margin-right: 40px;
}
.main .lows .low_two img {
  margin-top: 20px;
}
.main .lows .low_two .numbers {
  padding-left: 30px;
  padding-top: -5px;
}
.main .spec_link {
  margin-top: -10px;
  text-decoration: underline;
  font-size: 16px;
  font-family: "PTSansC75";
}
.main .spec_link span .red_link {
  text-decoration: none;
}
.main .spec_link_small {
  float: right;
  margin-top: -50px;
}
.main .red {
  text-decoration: none;
  color: #e4001f;
  font-weight: bold;
  font-size: 16px;
}
.main .expert {
  font-weight: 600;
  font-size: 16px;
}
.main .second_slider .fa-angle-left {
  position: absolute;
  top: 35%;
  z-index: 3;
  font-size: 30px;
  border: 1px solid #1f4465;
  color: #1f4465;
  padding: 5px 15px;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .main .second_slider .fa-angle-left {
    top: 0;
    left: 70%;
  }
}
.main .second_slider .fa-angle-left:hover {
  background-color: #e4001f;
  color: white;
  border: 1px solid #e4001f;
  outline: none;
  cursor: pointer;
}
.main .second_slider .fa-angle-left:focus {
  background-color: #e4001f;
  color: white;
  border: 1px solid #e4001f;
  outline: none;
  cursor: pointer;
}
.main .second_slider .fa-angle-right {
  position: absolute;
  top: 35%;
  right: 0;
  z-index: 3;
  font-size: 30px;
  border: 1px solid #1f4465;
  color: #1f4465;
  padding: 5px 15px;
}
@media only screen and (max-width: 767px) {
  .main .second_slider .fa-angle-right {
    top: 0;
  }
}
.main .second_slider .fa-angle-right:hover {
  background-color: #e4001f;
  color: white;
  border: 1px solid #e4001f;
  outline: none;
  cursor: pointer;
}
.main .second_slider .fa-angle-right:focus {
  background-color: #e4001f;
  color: white;
  border: 1px solid #e4001f;
  outline: none;
  cursor: pointer;
}
.main .second_slider .slider-pic {
  margin-left: 60px;
  float: left;
}
.main .second_slider .slider-text {
  margin-left: 220px;
  z-index: 4;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main .second_slider .slider-text {
    margin-left: 60px;
    float: left;
  }
}
@media only screen and (max-width: 767px) {
  .main .second_slider .slider-text {
    margin-left: 60px;
    float: left;
  }
}
.main .second_slider .slider-text h3 {
  color: #1f4465;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
.main .second_slider .slider-text a {
  text-decoration: underline;
}
.main .blue {
  color: #95a4b1;
  display: inline-block;
}
.main .minakov {
  margin-bottom: 100px;
}
.small_contacts .email {
  color: black;
  text-decoration: underline;
}
.small_contacts .fa-mobile {
  padding-right: 10px;
}
.small_contacts .fa-fax {
  padding-right: 10px;
  margin-left: -5px;
}
.small_contacts .fa-envelope-o {
  padding-right: 10px;
}
.small_contacts .fa-map-marker {
  padding-right: 10px;
}
.contacts_md {
  margin-bottom: 80px;
}
.footer {
  background-color: #333333;
  color: white;
  height: auto;
}
.footer .footer_logo {
  margin-top: 20px;
}
@media only screen and (max-width: 767px) {
  .footer .footer_logo {
    margin-top: 30px;
    width: 100%;
  }
}
.footer .footer_text {
  font-size: 14px;
  font-family: "PTSansC75";
}
.footer .location {
  margin-top: 10px;
}
@media only screen and (max-width: 767px) {
  .footer .location {
    margin-bottom: 35px;
  }
}
.footer .location .fa-copyright {
  padding-right: 10px;
}
.footer .location .fa-map-marker {
  padding-right: 10px;
}
.footer .location .bottom_text {
  margin-bottom: 60px;
}
.footer .footer_links {
  margin-top: 20px;
  margin-bottom: 40px;
}
.footer .footer_links .footer_link {
  color: white;
  font-size: 14px;
  margin-bottom: 20px;
}
.footer .footer_contacts {
  margin-top: 30px;
}
.footer .footer_contacts .footer_mail {
  color: white;
  text-decoration: underline;
}
.footer .footer_contacts .fa-mobile {
  padding-right: 10px;
}
.footer .footer_contacts .fa-fax {
  padding-right: 10px;
}
.footer .footer_contacts .fa-envelope-o {
  padding-right: 10px;
}
